html,body{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    overflow-x: hidden;
    position: relative;
    vertical-align: baseline;
    background-color: deepskyblue;
}


.about,.skills,
.education,.languages,
.contact,.experience{
    padding: 40px;
    min-height: 330px;
}



.education, .language,
.contact, .experience{
    margin-top: 30px;
}



header{
    text-align: center;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 160px;
    padding-bottom: 140px;
}

header img{
    display: inline-block !important;
    border: 3px solid white;
    padding: 5px;
}


header h2{
    padding-top: 40px;
}


.about{
    background: white;
}


.skills .progress{
    border-radius: 0px;
    height: 4px;
}


.skills .progress .progress-bar-primary{
    background: #204090;
}


.skills strong{
    display: inline-block;
    font-weight: normal;
    padding-bottom: 6px;
}

.education{
    background: #3366cc;
    color: #f5f5f5;
}



.education .education-content{
    padding-bottom: 14px;
}




.education span{
    margin-right: 10px;
    padding-left: 20px;
}


.languages{
    background: white;
    margin-top: 27px;
}


.languages ul{
    padding: 10px;
}


.languages ul li{
    padding-bottom: 6px;
}


.contact{
    background: white;
    
}


.experience{
    background: #3366cc;
    color: #f5f5f5;
}


.experience-content{
    padding-bottom: 14px;
}



.experience span{
    padding-right: 10px;
    padding-left: 20px;
}











